{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-4">
            {% if movie.Poster == 'N/A' %}
                <img src="{% static 'nopicture.gif' %}" class="rounded" alt="...">
            {% else %}
                <img src="{{ movie.Poster }}" class="rounded" alt="...">
            {% endif %}

        </div>
        <div class="col-8">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item" style="border: none;">
                    <strong>Title </strong>: {{ movie.Title }}
                </li>
                <li class="list-group-item" style="border: none;">
                    <strong>Year </strong>: {{ movie.Year }}
                </li>
                <li class="list-group-item" style="border: none;">
                    <strong>Genre </strong>: {{ movie.Genre }}
                </li>
                <li class="list-group-item" style="border: none;">
                    <strong>IMdb Rating </strong>: {{ movie.imdbRating }}
                </li>
                <li class="list-group-item" style="border: none;">
                    <strong>Actors </strong>: {{ movie.Actors }}
                </li>
                <li class="list-group-item" style="border: none;">
                    <strong>Director </strong>: {{ movie.Director }}
                </li>

                <li class="list-group-item" style="border: none;">
                    <strong>Plot </strong>: {{ movie.Plot }}
                </li>
                <li class="list-group-item text-right" style="border: none;">
                    <a href="#" onclick="window.history.back()">Go Back</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}