{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row text-center">
        <form class="form-inline" method="POST">
            {% csrf_token %}
            <div class="col">
                <input name="name" type="text" class="form-control" placeholder="Enter movie name">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="row" style="margin: 20px">
        {% for movie in movies %}
            <div class="col-3" style="margin-bottom: 30px">
                <div class="card" style="height: 450px">
                    {% if movie.Poster == 'N/A' %}
                        <img style="max-height: 311px" src="{% static 'nopicture.gif' %}" class="card-img-top" alt="...">
                    {% else %}
                        <img style="max-height: 311px" src="{{ movie.Poster }}" class="card-img-top" alt="...">
                    {% endif %}

                    <div class="card-body">
                        <a href="{{ movie.imdbID }}" class="stretched-link"> <h5 class="card-title">{{ movie.Title }}</h5> </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p> No result.</p>
        {% endfor %}
    </div>
{% endblock %}